.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 600px;
    margin: 16px 10px;
}

.col {
    width: 500px;
    height: 200px;
}

.card {
    display: flex;
    flex-direction: row;
    width: inherit;
    height: inherit;
    align-items: center;
}

.card>img {
    min-height: 50px;
    min-width: 50px;
    max-height: 150px;
    max-width: 200px;
    border-style: solid;
    border-color: transparent;
    border-radius: 1rem;
}

span>a {
    float: right;
    margin-right: 30px;
}

h3 {
    margin: 5px 10px;
}